doctype
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="keywords", content="#")
		meta(name="description", content="#")
		title This is your site	
		meta(content="width=device-width,initial-scale=1.0", name="viewport")
		link(href="assets/css/styles.css", media="screen", rel="stylesheet", type="text/css")
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
			
	body
		.container-fullwidth
			include ./includes/header
			include ./includes/section_one
			include ./includes/section_two
			include ./includes/section_three
			include ./includes/footer
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="assets/js/functions.js")
		script(src="assets/js/ie8script.js")
