footer

	p.bigger(style="padding:2% 2% 0") This section is the footer. You can place any content you'd like in this area; however, if you'd like suggestions you can place standard things like copyright, possibly contact information, maybe even a logo.