header
	.logo: img(src="assets/img/logo-main.jpg" alt="logo")
	nav.menu
		ul.bigger
			li.capitalize: a(href="#nav1") nav 1
			li.capitalize: a(href="#nav2") nav 2
			li.capitalize: a(href="#nav3") nav 3