.section.one#nav1

	p.bigger(style="padding:15% 2% 0") Each section is differentiated by a different color. 

	p.bigger(style="padding:1% 2% 0") Place content in these colored sections. It can be a full width image, it can be a group of divs in columns with images and/or text. Whatever you want, you can place it in these colored sections.